[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PopGenReport"]
	path = PopGenReport
	url = https://github.com/green-striped-gecko/popgenreport
[submodule "dartR"]
	path = dartR
	url = https://github.com/green-striped-gecko/dartr
[submodule "dartR.base"]
	path = dartR.base
	url = https://github.com/cran/dartR.base
[submodule "dartR.data"]
	path = dartR.data
	url = https://github.com/green-striped-gecko/dartr.data
[submodule "dartR.popgen"]
	path = dartR.popgen
	url = https://github.com/cran/dartR.popgen
[submodule "dartR.sim"]
	path = dartR.sim
	url = https://github.com/green-striped-gecko/dartr.sim
[submodule "dartR.spatial"]
	path = dartR.spatial
	url = https://github.com/cran/dartR.spatial
[submodule "dartRverse"]
	path = dartRverse
	url = https://github.com/green-striped-gecko/dartrverse
